

        <div class="home">

            <div class="pullquote">

                <p>This app uses your <a href="#facts" title="Scrobbler on Wikipedia">Scrobbler</a> feed to compose a Tweet for you.</p>

            </div>

            <div class="form">

                <form action="/" method="post" id="form">

                    <p>

                        <input id="uid" class="uid" type="text" name="id" value="Enter your last last.fm username to get started, no registration required.">
                        <a href="#" id="submit">Submit</a>
                        <input class="hide" type="submit" value="Submit">
                        <div class="clear"></div>

                    </p>

                    <input id="remember" type="checkbox" name="remember" checked> <label for="remember">Remember me?</label>

                </form>

            </div>

                <h3>Scrobbler feeds come from:</h3>

                 <div class="yui-gb pods">
                     <div class="yui-u first">
                        <img src="/assets/images/lastfm.jpg"><p>Last.fm</p>
                     </div>
                     <div class="yui-u">
                        <img src="/assets/images/spotify.jpg"><p>Spotify</p>
                     </div>
                     <div class="yui-u">
                         <img src="/assets/images/itunes.jpg"><p>iTunes</p>
                     </div>
                 </div>
                
                <br>
             <p align="center"><br>... and ex.fm, Grooveshark, xbox360 <a target="_blank" href="http://en.wikipedia.org/wiki/Last.fm#Audioscrobbler_plugin">and many more ...</a></p>

                       
        </div>

            <h3>What's nwplyn?</h3>

<div class="twitter">
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '@nwplyn #nowPlaying',
      interval: 6000,
      title: '',
      subject: '',
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#f5f5f5',
          color: '#666666'
        },
        tweets: {
          background: '#ffffff',
          color: '#333333',
          links: '#0000ff'
        }
      },
      features: {
        scrollbar: false,
        loop: true,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        toptweets: true,
        behavior: 'default'
      }
    }).render().start();
    </script>

</div>


            <h3><a name="facts">Scrobbler?! What do I need to know?</a></h3>

            <ul class="links">
                <li><a target="_blank" href="http://en.wikipedia.org/wiki/Last.fm#Audioscrobbler_plugin">Last.fm audioScrobber on Wikipedia with a list of compatible players</a></li>
                <li><a target="_blank" href="http://www.last.fm/download">Find out how to scrobble from iTunes</a></li>
                <li><a target="_blank" href="http://www.spotify.com/int/blog/archives/2008/12/18/spotify-scrobbles/">Find out how to scrobble from Spotify</a></li>
                <li><a target="_blank" href="http://last.fm/">Get a last.fm account</a></li>
            </ul>
 