<script type="text/javascript">
    window.setInterval(function(){
        location.reload(true);
    },120000);

    has_cookie = true;

</script>

<h2>{title}</h2>
<p>Click on track name to tweet it.</p>

<div id="yui-main">
    
    <div class="yui-b">

        <ol id="tracks">{tracks}</ol>

    </div>
    
</div>

<div class="yui-b">

    <div class="tools">

        <ul>{forget}</ul>

    </div>

    <!--

    <div id="friends">
        
        Find a friend
        
        <form>

            <input type="text">

        </form>

    </div>

    -->

</div>
